absl-py==0.13.0
astor==0.8.1
autopep8==1.5.7
cached-property==1.5.2
editdistance==0.5.3
gast==0.2.2
google-pasta==0.2.0
grpcio==1.39.0
h5py==3.4.0
importlib-metadata==4.8.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
numpy==1.21.2
opencv-python==4.0.0.21
opt-einsum==3.3.0
pkg_resources==0.0.0
protobuf==3.17.3
pycodestyle==2.7.0
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.10.0.2
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
